.timeline-wrapper {
  position: relative;
  padding: 22px 0;
}
.timeline-wrapper:last-child:before {
  height: 0;
}
.timeline-wrapper:before {
  content: "";
  background: #35878b;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 38px;
}

.timeline-yr {
  background: #00ADB5;
  border-radius: 100%;
  position: absolute;
  width: 75px;
  height: 75px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-yr span {
  color: #EEEEEE;
  font-size: 14px; /* Ukuran font lebih kecil */
  font-weight: bold;
  line-height: normal; /* Menghapus line-height yang terlalu besar */
  white-space: nowrap; /* Mencegah teks membungkus ke baris berikutnya */
}

.timeline-info {
  display: inline-block;
  vertical-align: top;
  max-width: 432px;
  margin-left: 6em;
}
.timeline-info small {
  color: #EEEEEE;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.swiper-container {
  overflow: hidden; /* Pastikan slide lain tidak terlihat */
  width: 100%;
  height: 100%;
}

.number {
  -webkit-text-stroke: 2px #00ADB5
}
